/* Write your CSS here */
.container {
  background-image: linear-gradient(to Right, #fa7257, #fc63a7);

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  color: #ffffff;
  font-size: 42px;
  font-weight: 800;
  font-family: 'Roboto';
}

.button {
  background-color: #ffffff;
  height: 35px;
  width: 130px;
  margin-right: 40px;
  border-radius: 10px;
  border-color: none;
}

.button-group {
  display: flex;
  flex-direction: row;
}
.new-button-group {
  display: flex;
  flex-direction: column;
}

.heading-display {
  height: 60px;
  width: 130px;

  background-color: #ffffff;
  background-size: cover;
  border-radius: 5px;
}
